@use "@material/elevation/mdc-elevation";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/typography/mdc-typography";
@use "@material/slider/styles";

@import "~material-design-icons/iconfont/material-icons.css";

@include icon-button.core-styles;

html {
  background-color: rgb(248, 249, 250);
}

.options-page {
  margin: 0 !important;

  .options-container {
    max-width: 680px;
    width: 100%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    height: 1500px;
  }

  .options__item {
    padding: 0 16px;
  }

  .w-100 {
    width: 100%;
  }
}
