@use "@material/elevation/mdc-elevation";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/typography/mdc-typography";
@use "@material/slider/styles";
@use "@material/list";

@include icon-button.core-styles;
@include list.core-styles;

@import "~material-design-icons/iconfont/material-icons.css";

html {
  background-color: rgb(248, 249, 250);
}

.options-page {
  margin: 0 !important;

  .options-container {
    max-width: 680px;
    width: 100%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    height: 1500px;
  }

  .options__item {
    padding: 32px 16px;
    border-bottom: 1px solid #E0E0E0;

    .whitelist-item {
      cursor: default !important;

      .mdc-list-item__text {
        opacity: 70%;
      }
    }
  }

  .w-100 {
    width: 100%;
  }
}
